<p id="notice"><%= notice %></p>

<p>
  <strong>Family name:</strong>
  <%= @family.family_name %>
</p>

<p>
  <strong>Parent first name:</strong>
  <%= @family.parent_first_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @family.user_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @family.active %>
</p>

<%= link_to 'Edit', edit_family_path(@family) %> |
<%= link_to 'Back', families_path %>
